$color-orange: #ff931e;
$color-darkblue: #00507d;
$color-blue: #3fa9f5;
$color-yellow: #edc200;
$color-red: #ff3d43;
$color-green: #a2e19f;
$color-greenacid: #55d800;
$color-violet: #c340f4;
$color-white: #ffffff;
