@use 'const';
.container {
  min-width: 1400px;
  height: calc(100vh - 150px);
  background-color: #000000;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-family: Big-book;
  font-size: 42px;
  text-align: center;
  padding-top: 25px;
}

.header {
  height: 80px;
  background-color: const.$color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-title {
  font-family: Big-Book;
  font-size: 48px;
  color: const.$color-orange;
  padding-left: 100px;
  -webkit-text-stroke: 3px const.$color-yellow;
  &:first-letter {
    font-size: 57px;
  }
  span {
    display: inline-block;
    &:first-letter {
      font-size: 57px;
    }
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 225px;
  margin-left: auto;
  margin-right: 30px;
  div {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: 0.3s transform, box-shadow;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      box-shadow: 0 0 20px 5px const.$color-yellow;
      transition: 0.3s transform, box-shadow;
    }
  }
}
.to-main {
  background-image: url('../assets/images/svg/Asset\ 14300.svg');
}
.to-statistic {
  background-image: url('../assets/images/svg/Asset\ 13300.svg');
}
.to-logout {
  background-image: url('../assets/images/svg/Asset\ 12300.svg');
}
.main {
  height: calc(100vh - 150px);
  background-color: const.$color-violet;
  width: inherit;
  display: flex;
}

.footer {
  background-color: const.$color-white;
  height: 70px;
}
.main-wide {
  width: 45%;
  height: 100%;
  background-color: const.$color-blue;
  div {
    height: 50%;
  }
}
.about {
  background-color: const.$color-blue;
  h2 {
    font-size: 52px;
    color: const.$color-orange;
    -webkit-text-stroke: 2px const.$color-white;
  }
}
.main-wide-text {
  font-size: 32px;
  width: 80%;
  padding-left: 100px;
  padding-top: 15px;
  font-family: 'Segoe UI';
  font-weight: 400;
}
.e-book {
  background-color: const.$color-darkblue;

  p {
    color: const.$color-white;
    padding-top: 50px;
  }
  .button {
    display: block;
    width: 200px;
    height: 65px;
    background-color: const.$color-orange;
    font-size: 42px;
    font-family: 'Segoe UI';
    color: const.$color-white;
    border: none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 45px;
    border-radius: 7px;
    transition: box-shadow 0.3s;
    cursor: pointer;
    &:hover {
      // background-color: $color-yellow;
      box-shadow: 0 0 15px 5px const.$color-white;
      transition: box-shadow 0.3s;
    }
    &:active {
      transform: scale(0.96);
    }
  }
}
.main-quad {
  height: 100%;
  width: 55%;
  display: flex;
  flex-wrap: wrap;
  font-size: 32px;
  font-family: 'Segoe UI';
  div {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;

    align-items: center;
    h2 {
      color: const.$color-red;
    }
  }
}

.audio-call,
.team {
  background-color: const.$color-darkblue;
}
.sprint {
  background-color: const.$color-blue;
}
.sign-in {
  background-color: const.$color-yellow;
  color: const.$color-orange;
  font-weight: bold;

  input {
    font-size: 32px;
    line-height: 45px;
    font-family: 'Segoe UI';
    text-align: center;
    width: 258px;
    border-radius: 29px;
    border: solid 3px const.$color-orange;
    font-style: italic;
    margin-bottom: 20px;
    margin-top: 8px;
  }
  button {
    @extend input;
    background-color: const.$color-orange;
    color: const.$color-white;
    font-style: normal;
    margin-top: 15px;
    margin-bottom: 0;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 15px 5px const.$color-white;
      transition: box-shadow 0.3s;
    }
    &:active {
      transform: scale(0.96);
    }
  }
  .btn-span {
    color: #404040;
    font-weight: normal;
    font-size: 18px;
  }
}
.sign-label {
  margin-top: 20px;
}
.note {
  color: const.$color-white;
}
.game-ico {
  margin-top: 35px;
  width: 160px;
  height: 160px;
}

.audio-call,
.sprint {
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 10px 5px const.$color-white;

    z-index: 2;
  }
  &:active {
    transform: scale(0.99);
  }
}

.team-wrapper {
  color: const.$color-yellow;
  background-color: const.$color-darkblue;
  h3 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: normal;
  }
}

ul {
  width: 85%;
  color: const.$color-white;
  display: flex;
  flex-direction: column;
}
li {
  list-style-type: none;
  height: 105px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  img {
    padding-top: 15px;
    width: 80px;
    height: 80px;
  }
  .team-member {
    width: 100%;
  }
  h4 {
    font-weight: normal;
    margin: 0;
    font-size: 20px;
    line-height: 24px;
  }
  p {
    width: 90%;
    font-size: 16px;
    margin: 0;
    padding-top: 0px;
    padding-left: 0;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    display: block;
    padding-top: 5px;
    padding-left: 20px;
    transition: transform 0.3s;
    .rs-logo {
      height: 55px;
      &:hover {
        transform: scale(1.1);
        transition: transform 0.3s;
      }
    }
  }
}

.gh-links {
  margin-right: 30px;
  display: flex;
  align-items: center;

  a {
    font-family: 'Segoe UI';
    text-decoration: none;
    font-size: 24px;
    position: relative;
    color: const.$color-blue;
    display: flex;
    justify-content: space-between;
    &:hover {
      color: const.$color-darkblue;
    }
    img {
      width: 40px;
      height: 40px;
      margin-right: 5px;
    }
  }
}
