@use 'const';

.login-wrapper {
  font-family: 'Segoe UI';
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  form {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 350px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
    position: relative;
    box-sizing: content-box;
  }

  a {
    cursor: pointer;
  }

  a:hover {
    color: const.$color-orange;
    box-shadow: 0 2px 0 0 const.$color-orange;
  }

  button {
    width: fit-content;
    border: none;
    font-family: 'Segoe UI';
  }

  img {
    padding-bottom: 23px;
    width: 60px;
    height: 60px;
  }

  .signup-img {
    padding-bottom: 0;
  }

  .login-form__close,
  .signup-form__close {
    align-self: flex-end;
    background-color: transparent;
    font-size: 24px;
    position: absolute;
    right: 24px;
    top: 12px;
  }

  .signup-form__back {
    text-transform: uppercase;
    outline: 0;
    background: const.$color-darkblue;;
    border: 0;
    padding: 0px 13px 5px 13px;
    border-radius: 5px;
    padding: 5px 10px;
    color: #ffffff;
    font-size: 28px;
    align-self: flex-start;
    position: absolute;
    top: 10px;
    left: 11px;
  }

  .login-form__submit,
  .signup-form__submit,
  .logout-yes,
  .logout-no {
    text-transform: uppercase;
    outline: 0;
    background: const.$color-darkblue;
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
  }

  input {
    outline: 0;
    background: #f2f2f2;
    width: -webkit-fill-available;
    border: 0;
    border-radius: 5px;
    margin: 0 0 15px;
    padding: 15px;
    font-size: 14px;
  }

  p {
    padding-bottom: 7px;
    color: const.$color-red;
  }

  .logout-buttons {
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;

    button {
      width: 150px;
    }
  }

  .logout-text {
    color: #00507d;
    font-size: 35px;
  }
}
