@font-face {
  font-family: "BigBook Heavy";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/BigBook-Heavy.woff2") format("woff2"),
    url("../assets/fonts/BigBook-Heavy.woff") format("woff");
}

@font-face {
  font-family: "Source Sans Variable";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/SourceSans3VF-Roman.ttf.woff2") format("woff2"),
    url("../assets/fonts/SourceSans3VF-Roman.ttf.woff") format("woff");
}

@font-face {
  font-family: "Source Sans Variable";
  font-style: italic;
  font-weight: normal;
  src: url("../assets/fonts/SourceSans3VF-Italic.ttf.woff2") format("woff2"),
    url("../assets/fonts/SourceSans3VF-Italic.ttf.woff") format("woff");
}

@font-face {
  font-family: "AGOpus Normal";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/agopus.woff2") format("woff2"),
    url("../assets/fonts/agopus.woff") format("woff");
}

* {
  margin: 0;
}
body {
  font-family: "Source Sans Variable";
  height: 100vh;
  background-color: #00507d;
}

header {
  height: 97px;
  background-color: #fff;
}

footer {
  height: 120px;
  background-color: #fff;
}

.ebook__container {
  margin: 0 8.8% 0 9.8%;
  padding-top: 26px;
}

.ebook__header {
  display: flex;
  justify-content: space-between;
  font-size: 34px;
  font-weight: 700;
  padding-left: 12%;
  color: #fff;
}

.ebook__pag {
  background-color: #c340f4;
  padding: 4px 47px;
  border-radius: 30px 30px 0 0;
  font-size: 32px;
}

.ebook__menu button {
  border: 1px;
  color: #fff;

  font-weight: 700;
}

.ebook__audiocall {
  background-color: #3fa9f5;
  position: relative;
  left: 33px;
  z-index: -2;
  padding: 8px 30px 12px 20px;
  font-size: 25px;
  border-radius: 37px 27px 0 0;
}

.ebook__audiocall:after {
  display: inherit;
  content: "";
  background-image: url("../assets/images/audiocall.svg");
  width: 34px;
  height: 34px;
  position: relative;
  top: 12px;
  left: 10px;
}

.ebook__sprint {
  font-size: 25px;
  background-color: #e84e10;
  position: relative;
  left: 19px;
  z-index: -1;
  padding: 8px 54px 12px 33px;
  border-radius: 37px 27px 0 0;
}

.ebook__sprint:after {
  display: inherit;
  content: "";
  background-image: url("../assets/images/sprint.svg");
  width: 34px;
  height: 34px;
  position: relative;
  left: 19px;
  top: 6px;
}

.ebook__settings {
  font-size: 29px;
  background-color: #ff971a;
  padding: 15px 43px 12px 43px;
  border-radius: 37px 37px 0 0;
}

.ebook__main {
  display: flex;
}

.tabs__container {
  display: flex;
  flex-direction: column;
}

.tabs__container {
  height: 108px;
  width: 43px;

  :first-child {
    background-color: #edc201;
    // z-index: 100;
  }

  :nth-child(2) {
    bottom: 8px;
    background-color: #3fa8f9;
    // z-index: -2;
  }

  :nth-child(3) {
    bottom: 13px;
    background-color: #55d800;
    // z-index: -3;
  }

  :nth-child(4) {
    bottom: 23px;
    background-color: #e84e10;
    // z-index: -4;
  }

  :nth-child(5) {
    bottom: 34px;
    background-color: #c340f4;
    // z-index: -5;
  }

  :nth-child(6) {
    bottom: 45px;
    background-color: #ff971a;
    // z-index: -6;
  }
}

.tab {
  cursor: pointer;
  font-family: "Source Sans Variable";
  color: white;
  font-size: 19px;
  font-weight: 700;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  white-space: nowrap;
  padding: 13px 5px 15px 10px;
  border-radius: 0 15px 19px 0;
  position: relative;
}

.content__container {
  width: 100%;

  > :first-child {
    background-color: #edc201;
  }

  > :nth-child(2) {
    background-color: #3fa8f9;
  }

  > :nth-child(3) {
    background-color: #55d800;
  }

  > :nth-child(4) {
    background-color: #e84e10;
  }

  > :nth-child(5) {
    background-color: #c340f4;
  }

  > :nth-child(6) {
    background-color: #ff971a;
  }
}

.content {
  font-family: "AGOpus Normal";
  width: 78vw;
  margin: 0;
  padding: 5%;
}
.active {
  z-index: 150;
}

.hidden {
  display: none;
}

.card {
  display: flex;

  margin: 0 0 40px 0 !important;
  height: 158px;
  background-color: transparent !important;
  font-weight: 900;
  font-size: 22px;
}

.card__image {
  width: 220px;
}
.card__audio {
  background-image: url("../assets/images/audio.svg");
  width: 52px;
  height: 52px;
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
  margin: 0 15px;
}

.card__list {
  background-image: url("../assets/images/list.svg");
  width: 52px;
  height: 52px;
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
}

.card__header {
  display: flex;
  // align-items: center;
  // justify-content: space-between;
  // max-width: 382px;
}

.card__header_left {
  display: flex;
  padding-top: 3px;
}

.card__text {
  padding-left: 25px;
}

.card__description {
  font-size: 19px;
}
