body {
  height: 100vh;
  background-color: darkslategrey;
  background-image: url('../assets/images/Screenshot_2.png');
  background-repeat: no-repeat;
  background-position: center;
}
/*
  When creating your CSS selector,
  change "brown" to something of your choosing
  */
.waves-effect.waves-brown .waves-ripple {
  /* The alpha value allows the text and background color
    of the button to still show through. */
  background-color: rgba(121, 85, 72, 0.65);
}
